
.navbar{
    background-color:#f5f6f3;
 /* padding: 10px;  */
 padding-top: 0 !important;
 padding-bottom: 0 !important;
 /* min-height: 5px !important;*/
 width: 100% !important;
 height: 60px !important;
}

.form-group{
    background-color: #f5f6f3;
}

.login-container{
    max-width: 400px; 
    margin: 60px auto 0;
  }
  
  .error{
    color:#ff4c3b ; 
    font-size: 12px; 
    padding-top: 4px
  }

  .card{
    background-color: #fdfffa;
    height:280px;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 80px;
    
  }
  h4{
    margin-left: 60px;
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 20px;
  }

  .row{
    margin-left: 1cm;
  }