
     
    
    
    <div class="navbarrr" style="height: 0cm;">
     <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 3cm;"> -->
    
  
    
      <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto"> -->
    
    
            <div ngbDropdown class="d-inline-block" style="margin-left: 15cm;">
              <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle >
                maison
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="line-height: 0.8cm;">
              <button ngbDropdownItem >caractéristiques <span> ></span></button>
              <button ngbDropdownItem>légume</button>
              <button ngbDropdownItem>montre</button>
              <button ngbDropdownItem>meubles</button>
              <button ngbDropdownItem>fleur</button>
              <button ngbDropdownItem>bouée</button>
              <button ngbDropdownItem>électronique</button>
              <button ngbDropdownItem>animaux domestiques</button>
              <button ngbDropdownItem>salle de sport</button>
              <button ngbDropdownItem>outils</button>
              <button ngbDropdownItem>chaussures</button>
              <button ngbDropdownItem>sac</button>
              <button ngbDropdownItem>Meriguana</button>
              </div>
          </div>   
    
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
                boutique
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  style="line-height: 0.8cm;">
                <button ngbDropdownItem>Left sidebar</button>
                <button ngbDropdownItem>Right Sidebar</button>
                <button ngbDropdownItem>No sidebar</button>
                <button ngbDropdownItem>Infinite scroll</button>
              </div>
          </div>   
    
    
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
                produit
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  style="line-height: 0.8cm;">
              <button ngbDropdownItem>Sidebar</button>
              <button ngbDropdownItem>Tree Olumn</button>
              <button ngbDropdownItem>Four Image</button>
              <button ngbDropdownItem>Bundle Product</button>
            </div>
        </div>   
             
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
            caractéristiques
          </button>
          <div ngbDropdownMenu  >
            <div class="container-fluid">
            <table class="table table-primary" style="width: 25cm; margin-left: 1cm;margin-top: 0.5cm;" >
              <tr >
              <th>Portpolio </th>
              <th>Add to Cart</th>
              <th>Theme Element</th>
              <th>Product Element</th>
              <th>Email Template</th>
            </tr><br>
            <tr >
               <td>Portpolio Grid 2</td>
               <td>Car Right</td>
               <td>Title</td>
               <td>Product Slider</td>
               <td>Older Success</td>
               
            </tr><br>
            <tr>
            <td>Portpolio Grid 3</td>
            <td>Car Left</td>
            <td>Collection Banner</td>
            <td>Banners</td>
            <td>Older Success-2</td>
            </tr><br>
            
            <tr>
              <td>Portpolio Grid 4</td>
              <td>Car Top</td>
              <td>Home Slider</td>
              <td>Product Tabs</td>
              <td>Email Template</td>
              </tr><br>
              <tr>
                <td>Masonry-Grid 2</td>
                <td>Cart Bottom</td>
                <td>Category</td>
                <td>Multi Slider</td>
                <td>Email Template-2</td>
                </tr><br>
                 
                <tr>
                  <td>Masonry-Grid 3</td>
                  <td>Cart-Model-Popup</td>
                  <td>Services</td>
                 
                  </tr><br>
                <tr>
                  <td>Masonry-Grid 4</td>
          
                  </tr><br>
                  <tr>
                  <td>Masonary-Full-Width2</td>
                </tr>
                                
            </table>
          </div>
          </div>
      </div>   
    
    
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
       pages
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  style="line-height: 0.8cm;">
          <button ngbDropdownItem>Account</button>
          <button ngbDropdownItem>About Us</button>
          <button ngbDropdownItem>Search</button>
          <button ngbDropdownItem>Typography</button>
          <button ngbDropdownItem>Review</button>
          <button ngbDropdownItem>Order Succes</button>
          <button ngbDropdownItem>Compare</button>
          <button ngbDropdownItem>Collection</button>
          <button ngbDropdownItem>BLookbook</button>
          <button ngbDropdownItem>404</button>
          <button ngbDropdownItem>Coming Soon</button>
          <button ngbDropdownItem>Faq</button>
    
        </div>
    </div>   
    
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
     blogs
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  style="line-height: 0.8cm;">
        <button ngbDropdownItem>Left Sidebar</button>
        <button ngbDropdownItem>Right Sidebar</button>
        <button ngbDropdownItem>No Sidebar</button>
        <button ngbDropdownItem>Blog Details</button>
      </div>
    </div>   
       

    
    
    


    
    
    
   
   
   




    
    
    
    

    
    

    
   
   
    
    
    
    
    
    
    
    
    
    
          
     
    
    <br><br><br>
    
    
    
    
    
    
    
    
    
    
    
    
     
     <!-- <app-footer></app-footer>  -->
    
    
    <div>
    
    